[user]
	name = philip-scorpiontx
	email = philip@scorpiontx.com
[core]
	excludesfile = $HOME/.dotfiles/.git/.gitignore_global
	pager = delta
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	syntax-theme = GitHub
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
