# Make Tab autocomplete regardless of filename case
set completion-ignore-case on

# List all matches in case multiple possible completions are possible
#set show-all-if-ambiguous on
set show-all-if-unmodified on

# Case-insensitive globbing (used in pathname expansion)
setopt NO_CASE_GLOB

# Autocorrect typos in path names when using `cd`
setopt CORRECT
setopt CORRECT_ALL

# auto-cd when prefix is missing
setopt AUTO_CD
